@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    font-size: 10px; /* 1rem = 10px */
  }

  body {
    font-weight: 300; /* Roboto Condensed Light for regular text */
    font-size: 1rem;
    line-height: 1.6;
  }

  h1, h2 {
    font-weight: 600; /* Roboto Condensed Medium for headers */
    font-size: 2rem;
    line-height: 1.2;
  }
  h3, h4, h5, h6 {
    font-weight: 600; /* Roboto Condensed Medium for headers */
    line-height: 0.2;
  }
}

/* Remove rounded corners from DaisyUI buttons */
.btn {
  border-radius: 0 !important;
}

.text-header {
  font-size: 2rem;
  font-weight: 500;
}

.container {
  padding: 0 2rem;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}
